<h1>Sign in</h1>

<%= form_for(:session, :url => admin_sessions_path, :html => {:multipart => true}) do |f| %>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, :size => 40 %>
  </p>
  <p>
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </p>
  <p><%= f.submit "Submit", :class => 'submit' %></p>
<% end %>

