<!DOCTYPE html>
<html>
<head>
  <title>GreyOrangeGrey</title>
  <%= stylesheet_link_tag    "admin/admin", :media => "all" %>
  <%= stylesheet_link_tag    "bootstrap.min", :media => "all" %>
  <%= javascript_include_tag "jquery.min" %>
  <%= javascript_include_tag "bootstrap.min" %>

  <%= csrf_meta_tags %>
</head>
<body>

<%= render :partial => 'layouts/admin_header' %>

<div class="container main">

    <% flash.each do |name, msg| %>
      <div class="flash-content">
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>

  <%= yield %>
</div>

</body>
</html>
